<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @payment.amount %>
</p>

<p>
  <b>First name:</b>
  <%= @payment.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @payment.last_name %>
</p>

<p>
  <b>Ip address:</b>
  <%= @payment.ip_address %>
</p>

<p>
  <b>Card expires on:</b>
  <%= @payment.card_expires_on %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
